PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/aircraft_maintenance_tracker_v2
JWT_SECRET=change_this_to_a_long_secret
JWT_EXPIRES_IN=12h
CLIENT_URL=http://localhost:5173
ALLOW_OPEN_ROLE_SIGNUP=false
TASK_DUE_SOON_DAYS=7
CHECK_DUE_SOON_DAYS=14
HOURS_DUE_SOON_MARGIN=5
CYCLES_DUE_SOON_MARGIN=3
NODE_ENV=development
